@model IEnumerable<BeanScene.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-4">
<h1>Tables Managment</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Table</a>
</p>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
          
            <th>
                @Html.DisplayName("Area")
            </th>
            <th>
                Actions
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(model => item.TableCode)
            </td>
            <td>
                @Html.DisplayFor(model => item.Capacity)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
           
          
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TableId" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.TableId" class="btn btn-info btn-sm">
                        <i class="bi bi-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.TableId" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
